<launch>
  <arg name="launch_driver" default="true" />

  <arg name="pcap"  default=""/>
  <arg name="device_ip" default="192.168.1.201"/>
  <arg name="lidar_port"  default="2368"/>
  <arg name="gps_port"  default="10110"/>
  <arg name="scan_phase"  default="0.0"/>
  <arg name="dual_return_distance_threshold" default="0.1"/>
  <arg name="return_mode" default="Dual"/>
  <arg name="model" default="Pandar40P"/>
  <arg name="frame_id" default="pandar"/>
  <arg name="calibration" default="$(find-pkg-share pandar_pointcloud)/config/40p.csv"/>

  <!-- pandar driver -->
  <node pkg="pandar_driver" exec="pandar_driver_node" name="pandar_driver" output="screen" >
    <param name="pcap" type="string" value="$(var pcap)"/>
    <param name="device_ip" type="string" value="$(var device_ip)"/>
    <param name="lidar_port"  type="int" value="$(var lidar_port)"/>
    <param name="gps_port"  type="int" value="$(var gps_port)"/>
    <param name="scan_phase"  type="double" value="$(var scan_phase)"/>
    <param name="model"  type="string" value="$(var model)"/>
    <param name="frame_id"  type="string" value="$(var frame_id)"/>
  </node>

  <!-- pandar cloud -->
  <node pkg="pandar_pointcloud" exec="pandar_cloud_node" name="pandar_cloud" output="screen" >
    <remap from="pandar_points" to="pointcloud_raw" />
    <remap from="pandar_points_ex" to="pointcloud_raw_ex" />
    <param name="scan_phase"  type="double" value="$(var scan_phase)"/>
    <param name="return_mode"  type="string" value="$(var return_mode)"/>
    <param name="dual_return_distance_threshold"  type="double" value="$(var dual_return_distance_threshold)"/>
    <param name="model"  type="string" value="$(var model)"/>
    <param name="device_ip" type="string" value="$(var device_ip)"/>
    <param name="calibration" type="string" value="$(var calibration)"/>
  </node>
</launch>
