<launch>
  <arg name="scan_phase"  default="0"/>
  <arg name="return_mode" default="Dual"/>
  <arg name="dual_return_distance_threshold" default="0.1"/>
  <arg name="model" default="PandarQT128"/>
  <arg name="device_ip" default="192.168.1.201"/>
  <arg name="calibration"  default="$(find pandar_pointcloud)/config/qt128.csv"/>
  <arg name="manager" default="pandar_nodelet_manager"/>

  <node pkg="pandar_pointcloud" name="pandar_cloud_node" type="pandar_cloud_node" output="screen" >
    <param name="scan_phase" type="double" value="$(arg scan_phase)"/>
    <param name="model" type="string" value="$(arg model)"/>
  </node>

  <!-- nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" />

  <!-- pandar cloud -->
  <node pkg="nodelet" type="nodelet" name="$(arg manager)_cloud"
        args="load pandar_pointcloud/CloudNodelet $(arg manager)">
    <param name="scan_phase"  type="double" value="$(arg scan_phase)"/>
    <param name="model"  type="string" value="$(arg model)"/>
    <param name="return_mode"  type="string" value="$(arg return_mode)"/>
    <param name="dual_return_distance_threshold"  type="double" value="$(arg dual_return_distance_threshold)"/>
    <param name="device_ip" type="string" value="$(arg device_ip)"/>
  </node>
</launch>
